*.DS_Store
*.LSOverride
.idea/
Thumbs.db
.bundle
roles*
.config/raycast/extensions/
.config/iterm2/AppSupport
.config/tmux/plugins/
.config/tmux/gh-repos-cache
.config/gh
.config/tmuxinator/*
!.config/tmuxinator/scratch.yml
!.config/tmuxinator/dotfiles.yml
.config/zed/
!.config/zed/keymap.json
!.config/zed/settings.json
.config/karabiner/
!.config/karabiner/karabiner.json
.config/configstore/
.config/github-copilot/
.config/uv/
.config/fish/

# Any overrides should be machine specific and not checked in
config.yml
.gitconfig-overrides

# Work related
.config/AWS VPN Client
.config/AWSVPNClient

# TODO: Clean up. Not sure if I need these
*.vagrant
*.retry
coast-files/
default-diffs/
