*.DS_Store
*.LSOverride
Thumbs.db
.bundle
roles*
.config/raycast/extensions/
.config/iterm2/AppSupport
.config/tmux/plugins/
.config/gh

# TODO: Clean up. Not sure if I need these
*.vagrant
*.retry
coast-files/
default-diffs/
