---
configure_dotfiles: true
configure_terminal: true
configure_osx: true
# work or personal
# If work, override in ./config.yml
machine_type: 'personal'

homebrew_installed_packages:
  - atuin
  - awscli
  - bat
  - cloudflared
  - csvlens
  - dockutil
  - duti
  - ffmpeg
  - fzf # Used by tmux-sessionizer script
  - gemini-cli
  - gh
  - git
  - go
  - hashicorp/tap/terraform
  - jq
  - lazygit
  - neovim
  - nodenv
  - ohueter/tap/autokbisw # Used for Charachorder keyboard input switching
  - anomalyco/tap/opencode # OpenCode from the official tap for latest releases
  - potrace
  - gromgit/brewtils/taproom
  - pyenv
  - ripgrep # Used by Telescope nvim plugin
  - sc-im
  - starship
  - stow
  - terragrunt
  - tmux
  - tmuxinator
  - xcodesorg/made/xcodes
  - yt-dlp

homebrew_taps:
  - anomalyco/tap
  - buo/cask-upgrade
  - hashicorp/tap
  - ohueter/tap

homebrew_cask_appdir: /Applications

# List of apps common to all machine types
common_homebrew_cask_apps:
  - 1password
  - alt-tab
  - bartender
  - boop
  - claude-code
  - displaylink
  - easyfind
  - font-meslo-lg-nerd-font # Not sure why a font is a cask, but ok
  - grandperspective
  - hammerspoon
  - helium-browser
  - hoppscotch
  - istat-menus # I'd need to buy a license?
  - karabiner-elements
  - kdiff3 # Diffing tool I'm trying out
  - keyboard-maestro
  - localsend
  - mouseless
  - obsidian
  - omnifocus
  - postman
  - raycast
  - tailscale
  - transnomino
  - uhk-agent
  - vlc
  - zed

  # Browsers
  - arc
  - min
  - vivaldi
  - zen

  # Terminals, gotta catch 'em all!
  - alacritty
  - ghostty
  - iterm2
  - kitty
  - wezterm

personal_homebrew_cask_apps:
  - handbrake
  - little-snitch@5
  - mullvadvpn
  - tor-browser
  - transnomino
  - transmission
  - zoom

work_homebrew_cask_apps:
  - ankerwork # For the Anker webcam
  - beekeeper-studio
  - dbeaver-community
  - displaylink
  - docker
  - figma
  - inkscape
  - intellij-idea-ce
  - obs
  - postico # Beekeeper competitor, let's see if I like it
  - pycharm
  - xcodes

homebrew_cask_apps: >-
  {{
    common_homebrew_cask_apps +
    (personal_homebrew_cask_apps if machine_type == 'personal' else work_homebrew_cask_apps)
  }}

# See `geerlingguy.mac.mas` role documentation for usage instructions.
# https://github.com/geerlingguy/ansible-collection-mac/blob/master/roles/mas/README.md
mas_installed_apps:
  - { id: 1558360383, name: 'Menu Bar Calendar (1.4.1)' }
  - { id: 6498891868, name: 'Persona Webcam (1.3.1)' }
  - { id: 497799835, name: 'Xcode (16.2)' }
  # - { id: 1596506190, name: "Play (2.4.0)" }
  # - { id: 1614730313, name: "MusicBox (1.4.7)" }
  # - { id: 1289583905, name: "Pixelmator Pro (3.6.14)" }
  # - { id: 6444667067, name: "Hyperduck (1.2.1)" }
  # - { id: 937984704, name: "Amphetamine (5.3.2)" }
  # - { id: 6449708232, name: "Linkeeper (2.0.1)" }

osx_script: './.macos.sh --no-restart'
osx_personal_script: './.macos-personal-only.sh --no-restart'
osx_work_script: './.macos-work-only.sh --no-restart'

# Install packages from other package managers.
# Note: You are responsible for making sure the required package managers are
# installed, eg. through homebrew.
gem_packages: []
# - name: bundler
#   state: present # present/absent/latest, default: present
#   version: "~> 1.15.1" # default: N/A
npm_packages:
  - typescript # Need this because it installs tsserver, which is used by the typescript LSP
#   state: present # present/absent/latest, default: present
#   version: "^2.6" # default: N/A
pip_packages: []
# - name: mkdocs
#   state: present # present/absent/latest, default: present
#   version: "0.16.3" # default: N/A
go_packages:
  - name: github.com/golang-migrate/migrate/v4/cmd/migrate #Needed for db migrations in various personal projects
    version: latest
    tags: sqlite3

# Glob pattern to ansible task files to run after all other tasks are finished.
post_provision_tasks: []
