---
- name: Install global NPM packages.
  npm:
    name: '{{ item.name | default(item) }}'
    state: "{{ item.state | default('present') }}"
    version: '{{ item.version | default(omit) }}'
    global: true
    executable: '{{ item.executable | default(omit) }}'
  loop: '{{ npm_packages }}'

- name: Install global Pip packages.
  pip:
    name: '{{ item.name | default(item) }}'
    state: "{{ item.state | default('present') }}"
    version: '{{ item.version | default(omit) }}'
    executable: "{{ item.executable | default('pip3') }}"
  loop: '{{ pip_packages }}'

- name: Install global Ruby gems.
  gem:
    name: '{{ item.name | default(item) }}'
    state: "{{ item.state | default('present') }}"
    version: '{{ item.version | default(omit) }}'
    user_install: false
    executable: '{{ item.executable | default(omit) }}'
  loop: '{{ gem_packages }}'

- name: Install global Go packages.
  command: "go install -v {% if item.tags is defined %}-tags '{{ item.tags }}'{% endif %} {{ item.name }}@{{ item.version | default('latest') }}"
  loop: '{{ go_packages }}'
  when: go_packages is defined
  register: go_install_result
  changed_when: "'downloading' in go_install_result.stderr or 'downloading' in go_install_result.stdout"
