div#panels-container {
  display: none;
}

div#panels-container.overlay.minimized {
  position: absolute;
}

#browser #header {
  /* This works, just have to decide if I like it or not  */
  /* display: none !important; */
  visibility: hidden !important;
}
