<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
      <key>activeProfile</key>
      <dict>
          <key>AlwaysHide</key>
          <array/>
          <key>BartenderBarStyling</key>
          <data>bnVsbA==</data>
          <key>GapItemLabels</key>
          <dict/>
          <key>GapItemWidths</key>
          <dict/>
          <key>Hide</key>
          <array>
              <string>at.obdev.littlesnitch.agent-Item-0</string>
              <string>com.raycast.macos-raycastIcon</string>
              <string>org.pqrs.Karabiner-Menu-Item-0</string>
              <string>com.backblaze.bzbmenu-Item-0</string>
              <string>com.stairways.keyboardmaestro.engine-Main Status Menu</string>
              <string>com.agilebits.onepassword7-Item-0</string>
              <string>com.apple.controlcenter-Bluetooth</string>
              <string>com.if.Amphetamine-Amphetamine</string>
              <string>com.apple.controlcenter-Shortcuts</string>
              <string>com.lwouis.alt-tab-macos-Item-0</string>
              <string>org.hammerspoon.Hammerspoon-Item-0</string>
              <string>com.sindresorhus.Supercharge-Item-0</string>
              <string>dk.simonbs.Festivitas-Item-0</string>
              <string>com.apple.controlcenter-NowPlaying</string>
              <string>special.AllOtherItems</string>
          </array>
          <key>Show</key>
          <array>
              <string>com.bjango.istatmenus.status-com.bjango.istatmenus.time</string>
              <string>com.sindresorhus.Menu-Bar-Calendar-Item-0</string>
              <string>com.apple.controlcenter-Battery</string>
              <string>com.apple.controlcenter-WiFi</string>
              <string>com.apple.TextInputMenuAgent-Item-0</string>
              <string>com.apple.controlcenter-Sound</string>
              <string>com.surteesstudios.Bartender-statusItem</string>
              <string>com.bjango.istatmenus.status-com.bjango.istatmenus.network</string>
              <string>com.bjango.istatmenus.status-com.bjango.istatmenus.cpu</string>
              <string>org.videolan.vlc-statusBarItem</string>
              <string>com.bjango.istatmenus.status-com.bjango.istatmenus.memory</string>
              <string>com.antlogic.minicalendar-Item-0</string>
              <string>io.tailscale.ipn.macos-Item-0</string>
              <string>com.apple.controlcenter-ScreenMirroring</string>
              <string>com.backblaze.bzbmenu-Item-1</string>
              <string>net.mullvad.vpn-Item-0</string>
          </array>
          <key>description</key>
          <string></string>
          <key>icon</key>
          <data>TU0AKgAAABgAAAAAAA==</data>
          <key>iconIsTemplate</key>
          <true/>
          <key>isSpecial</key>
          <true/>
          <key>leaveAlwaysHiddenItems</key>
          <false/>
          <key>name</key>
          <string>Profile</string>
          <key>subBarStyling</key>
          <data>e30=</data>
          <key>subItemIcons</key>
          <data>e30=</data>
          <key>subItemItems</key>
          <dict/>
          <key>subItemTitles</key>
          <dict/>
      </dict>
  </dict>
</plist>

